#aboutme {
  background-color: #00BCD4;
}

#aboutme p {
  color: #fff;
}

.section-title {
  color: #000;
}

#contact {
  background-color: #00BCD4;
  color: #fff;
}

.navbar-brand {
  font-size: 12px;
  color: #fff;
}


